*{
    margin: auto;
}
h1{
    margin: 10px;
    top: 20px;

}

.id{
    top: 30px;
    font-size: 28px;
    


}
.id1{
    top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h4{
    font-weight: 800;
    color: black;
    font-size: 32px;

}
.id3{
    top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.id4{
    top: 30px;
    margin-bottom: 20px;
    width: 100%;
}
.id5{
    top: 30px;
    margin-bottom: 20px;
    width: 100%;
}
.id6{
    top: 30px;
    margin-bottom: 20px;
    width: 100%;
}
.id7{
    top: 30px;
    margin-bottom: 20px;
    width: 100%;
}